// overwrite theme variables
$primary: #A8D0E6;
$secondary: #F76C6C;
$dark: #24305E;
$light: #374785;
$success: #0fa;
$info: #F8E9A1;
$warning: #ff0;
$danger: #f00;

// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';
